{% extends 'plantillas/base.html' %}
    {% load static %}
    {% block contenido %}
        <header class="app-header">
            <nav class="navbar app-navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <span class="icon-bar app-icon"></span>
                            <span class="icon-bar app-icon"></span>
                            <span class="icon-bar app-icon"></span>
                        </button>
                        <a href="#" class="navbar-brand app-link">Dogaut II</a>
                    </div>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right app-nav">
                            <li><a href="#">Carnes</a></li>
                            <li><a href="#">Aves</a></li>
                            <li><a href="#">Mariscos</a></li>
                            <li><a href="{% url 'encuesta-satisfaccion' %}">Encuesta</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% include 'plantillas/mensaje.html' %}
            <section class="app-seccion1">
                <h1 class="app-titulo">Comer Delicioso nunca fue tan <span class="app-resaltar"> Barato</span></h1>
                <p class="app-descripcion">La mejor calidad y el mejor servicio nos distinguen</p>

                <div class="app-formulario1">
                    <div class="app-formulario2">
                        <div class="container-fluid">
                            <div class="row">
                                <form method="post" action="/accesar" role="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="reg_password" class="sr-only">Password</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
                                    </div>
                                    <div class="form-group">
                                        <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-preguntar" value="Ingresar">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="app-seccion2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br>
                    <img src="{% static 'img/enchiladas.jpg' %}" alt="" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br>
                    <h2 class="app-titulo2">Especialidad en aves</h2>
                    <p class="app-separador"></p>
                    <p class="app-justificar">Venga y compruebe el delicioso sabor de nuestro estofado, mole, enchiladas y el clasico caldo de pavo</p>
                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-heart app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Mole</h4>
                            <p class="app-justificar">Ven a probar nuesto distingido sabor, mole casero hecho con pavo criado %100 de maiz. Cocinado ala perfeccion
                             con todo el sabor de la experiencia de mas de 15 años cocinando para ti, simplemente  amaras nuestros platillos</p>
                        </div>
                    </div>
                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-star-empty app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Caldo de pavo</h4>
                            <p class="app-justificar">Bienvenido a casa, el sabor te llevara a ese lugar tan reconfortante como es el hogar, caldo con perejil, arroz , cebolla.
                             La simplesa de este platillo es lo que lo hace especial.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="app-seccion3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br>
                    <h2 class="app-titulo2">Explore la genialidad en mariscos</h2>
                    <p class="app-separador"></p>
                    <p class="app-justificar">Culquiera puede hacer maricos, pero nadie los hace como nosotros</p>
                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-cutlery app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">¿Cuales son mis opciones?</h4>
                            <p class="app-justificar">Camarones al mojo de ajo, empanizados, ala dogaut, ala diabla, ala brasil, para pelar.
                                Sopa de mariscos, de camaron , caldo de robalo con camaron , de mojarra , crema de ostion
                            </p>
                        </div>
                    </div>
                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-plus-sign app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">¿ Aun hay mas?</h4>
                            <p class="app-justificar"> Por supuesto .... Robalo frito con camaron, Robalo relleno de mariscos, empapelados , mojarras,
                                postas , cocteles , cremas , fritos , empanizados , ala crema , ostiones ala rockefeller ....
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br>
                    <img src="{% static 'img/mariscos_principal.jpg' %}" alt="" class="img-responsive">
                </div>
            </div>
        </div>
        </section>
        <section class="app-seccion2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br>
                    <img src="{% static 'img/filete_mexicana.jpg' %}" alt="" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <br>
                    <h2 class="app-titulo2">Carnes para el gusto mas exigentes</h2>
                    <p class="app-separador"></p>
                    <p class="app-justificar">Filetes de todo tipo siciliano , ala mexicana , empanizado... ¿se te antojo?</p>
                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-ok-sign app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">A la mexicana</h4>
                            <p class="app-justificar">Filete de la mejor calidad, suave delicioso acompañado con arroz y tortilla. Delicadamente cocinado
                                con ingredientes frescos , y con la receta de la casa , no te lo puedes perder.
                            </p>
                        </div>
                    </div>
                    <div class="media app-media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-fire app-glyphicon1"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">A la plancha</h4>
                            <p class="app-justificar">Bajo en grasa con el tiempo exacto para no perder ningun sabor ni propiedad de la carne,
                                este clasico de la cocina ara que regreses pronto.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="app-seccion2">
        <div class="container">
            <div class="app-contenedor">
                <h2 class="app-titulo3">Venga y disfrute con nosotros</h2>
                <p class="app-separador2"></p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-usd glyphicon2"></p>
                        <h3>El mejor precio</h3>
                        <p class="app-descripcion2">La mejor calidad y el mejor servicio al mejor precio.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-signal glyphicon2"></p>
                        <h3>Internet gratis</h3>
                        <p class="app-descripcion2">Conecta con el mundo, conecta con nosotros.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-qrcode glyphicon2"></p>
                        <h3>CFDI</h3>
                        <p class="app-descripcion2">Factura electronica al instante.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-credit-card glyphicon2"></p>
                        <h3>Cobro con tarjeta</h3>
                        <p class="app-descripcion2">Tienes una tarjeta, nosotros las aceptamos todas.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-glass glyphicon2"></p>
                        <h3>Licores</h3>
                        <p class="app-descripcion2">El mas amplio catalogo de bebidas nacionales y extranjeras.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-fullscreen glyphicon2"></p>
                        <h3>Amplio estacionamiento</h3>
                        <p class="app-descripcion2">Deja de buscar donde estacionar.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-play-circle glyphicon2"></p>
                        <h3>Musica</h3>
                        <p class="app-descripcion2">Audio profesional a tu disposicion para que esuches lo que gustes.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-hd-video glyphicon2"></p>
                        <h3>Deportes</h3>
                        <p class="app-descripcion2">Los mejores deportes , ¿que desea ver hoy?.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="app-contenedor">
                        <p class="glyphicon glyphicon-tree-deciduous glyphicon2"></p>
                        <h3>Ambiente fresco</h3>
                        <p class="app-descripcion2">Escapate del calor ven a visitarnos.</p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="app-seccion3">
        <div class="container">
            <div class="app-contenedor">
                <h2 class="app-titulo3">Desayunos</h2>
                <p class="app-separador2"></p>
                <p>Estos paquetes te sorprenderan .</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item app-lista1">
                            <h2>Clasico</h2>
                            <p>Desde $50 </p>
                        </li>
                        <li class="list-group-item">Huevos al gusto<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Cafe negro<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">1 relleno<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Platanos fritos<span class="pull-right glyphicon glyphicon-remove"></span></li>
                        <li class="list-group-item app-precio">
                            <span class="app-pago">solo $50</span>
                            <button class="btn app-btn1">PIDELO</button>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item app-lista2">
                            <h2>Continental</h2>
                            <p>Desde $75</p>
                        </li>
                        <li class="list-group-item">Protección Avanzada<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Estilos Ilimitados<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Almacenamiento en la Nube<span class="pull-right glyphicon glyphicon-remove"></span></li>
                        <li class="list-group-item">Servicio de Reserva<span class="pull-right glyphicon glyphicon-remove"></span></li>
                        <li class="list-group-item app-precio">
                            <span class="app-pago">$59 por Mes</span>
                            <button class="btn app-btn2">Contratar</button>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item app-lista1">
                            <h2>Presidencial</h2>
                            <p>Desde $99</p>
                        </li>
                        <li class="list-group-item">Protección Avanzada<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Estilos Ilimitados<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Almacenamiento en la Nube<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item">Servicio de Reserva<span class="pull-right glyphicon glyphicon-ok"></span></li>
                        <li class="list-group-item app-precio">
                            <span class="app-pago">$99 por Mes</span>
                            <button class="btn app-btn1">Contratar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
        <section class="app-seccion2">
        <div class="container">
            <div class="app-contenedor">
                <h2 class="app-titulo3">Restaurant Dogaut II</h2>
                <p class="app-separador2"></p>
                <p>Periferico la vereda sin numero aun lado del motel la vereda.</p>
                <p>Telefono 111-90-10</p>
            </div>
            <video controls poster="{% static 'img/r1.jpg' %}" class="img-responsive app-video">
                <source src="#"> </source>
            </video>
        </div>
        </section>

        {% include 'plantillas/footer.html' %}
    {% endblock %}

