<div class="container container-margin">
    <h2 class="app-centrar"><span class="glyphicon glyphicon-warning-sign"></span> !Atencion!</h2>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="app-centrar">{{ empty_message }}</h3>
        </div>
    </div>
</div>