{% extends 'plantillas/base.html' %}
{% block contenido %}
    {% include 'plantillas/navbar.html' %}
    {% include 'plantillas/mensaje.html' %}
    <div class="container container-margin">
        <h2 class="app-centrar"><span class="glyphicon glyphicon-warning-sign"></span> Atencion</h2>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="app-centrar">¡Estas a punto de eliminar {{ object }}!</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" autocomplete="off" method="post" role="form">
                    {% csrf_token %}
                    {% include 'plantillas/form.html' %}
                    <div class="col-sm-offset-5 col-sm-7">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

