{% extends 'plantillas/base.html' %}
{% block contenido %}
    {% include 'plantillas/navbar.html' %}
    {% include 'plantillas/mensaje.html' %}
    {% include 'plantillas/modal.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <h1 class="title_crear">{{ title }} {{ mesa }}</h1>
                <form class="form-horizontal" autocomplete="off" method="post" role="form">
                    {% csrf_token %}
                    {% include 'plantillas/form.html' %}
                    <div class="col-sm-offset-5 col-sm-7">
                        <input type="submit" value="Crear" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block complementoJS %}
    <script type="text/javascript">
        $(function () {
            $('.form-control.datepicker').datepicker(
                    {
                        format : "yyyy-mm-dd"
                    }
            )
        });
        $(document).ready(function(){
            url = location.href.split("/");
            if (url[url.length-1]  == "satisfaccion"){
                $('#modal').modal({
                    show : true
                });
            }
        });
    </script>
{% endblock %}



