<footer class="app-footer">
    <span class="glyphicon glyphicon-ok app-icon1"></span>
    <span class="glyphicon glyphicon-envelope app-icon1"></span>
    <span class="glyphicon glyphicon-heart app-icon1"></span>
</footer>