{% for field in form %}
    {% if not field.is_hidden %}
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ field.label }}
                {% if field.field.required %}
                    <b style="color: red;">*</b>
                {% endif %}
            </label>
            <div class="col-xs-4 col-md-{{ medidaInput }}">
                {{ field }}
            </div>
            <div>
                  {{ field.help_text }}
            </div>

        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}


