{% extends 'plantillas/base.html' %}
{% block contenido %}
    {% include 'plantillas/navbar.html' %}
    {% include 'plantillas/mensaje.html' %}

    <div class="container">
        <div class="panel panel-default">
          <div class="panel-body app-centrar">
            <h2><a href="{% url resumen_url dia %}">{{ title }}</a></h2>
          </div>
        </div>
        {% for object in object_list %}
        <table class="table container-margin text-justify">
            <thead>
                <tr class="success">
                    <th>Mesa</th>
                    <th>Mesero</th>
                    <th>Pago</th>
                    <th>Facturo</th>
                    <th>Consumo</th>
                    <th>Total</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.mesa }}</td>
                    <td>{{ object.mesero }}</td>
                    <td>{{ object.get_pago_display }}</td>
                    <td>{% if object.factura %}SI{% else %}No{% endif %}</td>
                    <td>
                        {% if object.ticketdetalle_set.all %}
                            {% for detalle in  object.ticketdetalle_set.all %}
                                    <ul>
                                        <li>{{ detalle.cantidad }}  {{ detalle.servicio }} $ {{ detalle.precio }}</li>
                                    </ul>
                                {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <span class="label label-success label-total">$ {{ object.totalTicket }}</span>
                    </td>
                    <td class="app-centrar">
                        <a href="{% url detalle_url object.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{% url editar_url object.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url borrar_url object.id %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% empty %}
            {% include 'plantillas/atencion_message.html' %}
        {% endfor %}
    </div>
{% endblock %}

