<div class="modal fade modal-wide" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel" align="center"> Gracias</h2>
            </div>
            <div class="modal-body" align="center">
                <h1><i class="glyphicon glyphicon-comment"></i>
                    <font color="#B71F0E"> ¿Por que es importante tu opinion?</font>
                </h1>
                <h2> Tu opinion es lo mas importante para nosotros, gracias a ti cada vez ofrecemos un
                     mejor servicio, Gracias nuevamente por tu ayuda</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>