<nav class="navbar navbar-personalizado">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar app-bar"></span>
        <span class="icon-bar app-bar"></span>
        <span class="icon-bar app-bar"></span>
      </button>
      <a href="#" class="navbar-brand link-personalizado">Dogaut II</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right nav-personalizado">
        {% if user.is_authenticated %}<li><a href="#" class="navbar-brand"> {{ user|capfirst }}</a></li>{% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'inicio_fin_consulta' %}">Resumen</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'dashboard' %}">Agregar</a></li>
              <li><a href="{% url 'listar_ticket' 'hoy' %}">Del dia</a></li>
              <li><a href="{% url 'listar_ticket' 'ayer' %}">Ayer</a></li>
          </ul>
        </li>
        <li>
            {% if user.is_authenticated %}
               <a href="{% url 'cerrar-sesion' %}">Salir</a>
            {% else %}
                <a href="{% url 'inicio' %}">Entrar</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>