{% extends 'plantillas/base.html' %}

{% block contenido %}
    {% include 'plantillas/navbar.html' %}
    {% include 'plantillas/mensaje.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ titleDetalle }}</h1>
                <div class="panel panel-primary">
                      <div class="panel-heading">
                          <h4 class="app-centrar">Mesa {{ ticketGeneral.mesa }}</h4>
                      </div>
                      <table class="table table-striped">
                          <tr>
                              <th>Fecha</th>
                              <th>Mesero</th>
                              <th>Pago</th>
                              <th>Factura</th>
                              <th>Total</th>
                          </tr>
                          <tr>
                              <td>{{ ticketGeneral.fecha }}</td>
                              <td>{{ ticketGeneral.mesero }}</td>
                              <td>{{ ticketGeneral.get_pago_display }}</td>
                              <td>{% if ticketGeneral.factura %}Si{% else %}No{% endif %}</td>
                              <td>$ {{ total }}</td>
                          </tr>
                      </table>
                      {% if ticketGeneral.ticketdetalle_set.all %}
                          <div  class="panel panel-info">
                              <div class="panel-heading app-centrar">
                                <h4>Servicios</h4>
                              </div>
                              <div class="panel-body">
                                <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>Nombre</th>
                                          <th>Cantidad</th>
                                          <th>Precio u.</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for detalle in  ticketGeneral.ticketdetalle_set.all %}
                                        <tr>
                                            <td>{{ detalle.servicio }} </td>
                                            <td>{{ detalle.cantidad }} </td>
                                            <td>$ {{ detalle.precio }} </td>
                                            <td> <a href="{% url borrar_url detalle.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                          </div>
                          <div class="container-fluid">
                              <div class="row">
                                  <div class="col-md-offset-8 col-md-3">
                                      <div class="panel panel-danger">
                                          <div class="panel-heading panel-total app-centrar">Total: ${{ total }}</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title_crear">{{ title }} {{ mesa }}</h1>
                    <form class="form-horizontal" autocomplete="off" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-8">
                                <input placeholder="Buscar" id="busca" class="form-control" maxlength="20">
                            </div>
                        </div>
                        {% include 'plantillas/form.html' %}
                        <div class="col-md-6 col-sm-offset-6 ">
                            <input type="submit" value="Crear" id="crear" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block complementoJS %}
    <script type="text/javascript">
        $(document).ready(function(){
            var busca = $('#busca');
            busca.autocomplete({
                source : function (request, response) {
                    var servicioID=0;
                    var servicioPrecio=0;
                    $.ajax({
                        url : '/menu/ajax/',
                        dataType:'json',
                        data:{envio:request.term},
                        success: function (data) {
                            var sugerencias = [];
                            $.each(data, function(index,objeto){
                                sugerencias.push(objeto.fields.nombre);
                            });
                            response(sugerencias);

                            busca.blur(function(event){
                                valor = busca.val();
                                for(i=0; i<data.length;i++) {
                                    if(data[i].fields.nombre==valor){
                                        servicioID = data[i].pk;
                                        servicioPrecio = data[i].fields.precio;
                                    }
                                }
                                $('#id_servicio').val(servicioID);
                                $('#id_precio').val(servicioPrecio);
                            });
                        }
                    });
                },
                minLength:3,
            });
        });
    </script>
{% endblock %}



