{% extends 'plantillas/base.html' %}

{% block contenido %}
    {% include 'plantillas/navbar.html' %}
    {% include 'plantillas/mensaje.html' %}

    <div class="container container-margin">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading app-centrar panel-total">
                        Comanda
                    </div>
                    <table class="table">
                        <tr>
                            <th>Mesa:</th>
                            <td>{{ object.mesa}}</td>
                        </tr>
                        <tr>
                            <th>Fecha de consumo:</th>
                            <td>{{ object.fecha }}</td>
                        </tr>
                        <tr>
                            <th>Guardo</th>
                            <td>{{ object.usuario_crea }}</td>
                        </tr>
                        <tr>
                            <th>fecha de creacion</th>
                            <td>{{ object.creado }}</td>
                        </tr>
                        <tr>
                            <th>Mesero</th>
                            <td>{{ object.mesero }}</td>
                        </tr>
                        <tr>
                            <th>Tipo de pago</th>
                            <td>{{ object.get_pago_display }}</td>
                        </tr>
                        <tr>
                            <th>Facturo</th>
                            <td>{% if object.factura %}Si{% else %}No{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="panel panel-success">
                    <div class="panel-heading app-centrar panel-total">
                        Consumo
                    </div>
                    <table class="table">
                        {% for detalle in object.ticketdetalle_set.all %}
                            <tr>
                                <th>{{ detalle.cantidad }}</th>
                                <th>{{ detalle }}</th>
                                <td>{% if detalle.observacion %}{{ detalle.observacion }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}