{% extends 'plantillas/base.html' %}
{% block contenido %}
    {% include 'plantillas/navbar.html' %}
    {% include 'plantillas/mensaje.html' %}

    <div class="container container-margin">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <h2 class="app-centrar">{{ title }}</h2>
                <div class="panel panel-primary">
                    <div class="panel-heading app-centrar">Total</div>
                    <div class="panel-body app-centrar">
                        <span class="label label-warning label-total">{{ totalMonetario }}</span>
                    </div>
                    <ul class="list-group">
                        {% for i in serviciosTotales %}
                            <li class="list-group-item">{{ i.servicio__nombre }} <span class="badge">{{ i.cantidad }}</span></li>
                        {% endfor %}
                     </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}