{% extends 'plantillas/base.html' %}
{% load static%}
{% block contenido %}
    {% include 'plantillas/navbar.html' %}

    <div class="container">
        <div class="panel panel-info panel-mesas">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-plus"></span> {{ title }}
              </div>
              <div class="panel-body">
                Selecione la mesa ala que desea registrar la venta.
              </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="hidden-xs hidden-sm col-md-2  col-md-offset-2 centrar-mesa">
                <div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active app-centrar">Mesas 1-6</a>
                        <a href="{% url url_crear 1 %}" class="list-group-item "> 1</a>
                        <a href="{% url url_crear 2 %}" class="list-group-item list-group-item-success"> 2</a>
                        <a href="{% url url_crear 3 %}" class="list-group-item "> 3</a>
                        <a href="{% url url_crear 4 %}" class="list-group-item list-group-item-success"> 4</a>
                        <a href="{% url url_crear 5 %}" class="list-group-item ">5</a>
                        <a href="{% url url_crear 6 %}" class="list-group-item list-group-item-success">6</a>
                    </div>
                </div>
          </div>
          <div class="hidden-xs hidden-sm col-md-2  centrar-mesa">
                <div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active app-centrar">Mesas 7-12</a>
                        <a href="{% url url_crear 7 %}" class="list-group-item ">7</a>
                        <a href="{% url url_crear 8 %}" class="list-group-item list-group-item-success">8</a>
                        <a href="{% url url_crear 9 %}" class="list-group-item ">9</a>
                        <a href="{% url url_crear 10 %}" class="list-group-item list-group-item-success">10</a>
                        <a href="{% url url_crear 11 %}" class="list-group-item ">11</a>
                        <a href="{% url url_crear 12 %}" class="list-group-item list-group-item-success">12</a>
                    </div>
                </div>
          </div>
          <div class="hidden-xs hidden-sm col-md-2 centrar-mesa">
                <div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active app-centrar">Mesas 13-18</a>
                        <a href="{% url url_crear 13 %}" class="list-group-item ">13</a>
                        <a href="{% url url_crear 14 %}" class="list-group-item list-group-item-success">14</a>
                        <a href="{% url url_crear 15 %}" class="list-group-item ">15</a>
                        <a href="{% url url_crear 16 %}" class="list-group-item list-group-item-success">16</a>
                        <a href="{% url url_crear 17 %}" class="list-group-item ">17</a>
                        <a href="{% url url_crear 18 %}" class="list-group-item list-group-item-success">18</a>
                    </div>
                </div>
          </div>
          <div class="hidden-xs hidden-sm col-md-2 centrar-mesa">
                <div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active app-centrar">Mesas 19-24</a>
                        <a href="{% url url_crear 19 %}" class="list-group-item ">19</a>
                        <a href="{% url url_crear 20 %}" class="list-group-item list-group-item-success">20</a>
                        <a href="{% url url_crear 21 %}" class="list-group-item ">21</a>
                        <a href="{% url url_crear 22 %}" class="list-group-item list-group-item-success">22</a>
                        <a href="{% url url_crear 23 %}" class="list-group-item ">23</a>
                        <a href="{% url url_crear 24 %}" class="list-group-item list-group-item-success">24</a>
                    </div>
                </div>
          </div>
        </div>
    </div>
{% endblock %}
